spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: ${SPRING_CLOUD_CONFIG_SERVER_NATIVE_SEARCH_LOCATIONS:file:C:/Users/admin/Desktop/FleetPulse/config-repo}
  profiles:
    active: native
server:
  port: 8888
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka}
